form {
  margin: 30px auto;
  max-width: 310px;
}

label {
  display: flex;
  justify-content: space-between;
}

input {
  margin-bottom: 5px;
}

table {
  margin: auto;
  border-collapse: collapse;
}

th, td {
  padding: 5px 10px;
  border: 1px solid #999;
}

th {
  cursor: pointer;
}

th[highlighted=true], td[highlighted=true] {
  background-color: rgb(194, 194, 194);
}